<!-- Pour importer un model transmit à une vue, on utilise : -->
@model Personne

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AfficherPersonne - Demo3_Model</title>
</head>
<body>
    <!-- Une fois importé, le modèle peut être utilisé directement avec arobase Model -->
   <p>@Model.ToString()</p>
   <p>Nom : @Model.Name</p>
   <p>Description : @Model.Description</p>
   <p>Age : @Model.Age</p>
</body>
</html>
