@model Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Form</title>
</head>
<body>
    <h1>Product ajouté avec succès !!</h1>

</body>
</html>
