<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index - Exercice1</title>
</head>
<body>
    <p>Le nombre aléatoire généré est : @ViewData["random"]</p>

    <a asp-controller="Random" asp-action="Index">Lien pour recharger la page</a>
</body>
</html>
